{% extends 'public-panel/base.html' %}

{% block content %}
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/static/public-panel/assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Cart List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for i in object_list %}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{i.product.image.url}}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{i.product.name}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>${{i.product.price}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement p-2" onclick="decQantityToClosestIpNo(this, '{{i.product.id}}')"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="{{i.quantity}}" min="0" max="10">
                    <span class="input-number-increment p-2" onclick="incQantityToClosestIpNo(this,'{{i.product.id}}')"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>${{i.subtotal}}</h5>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4" class="text-center">Your cart is empty.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="{% url 'product-page' %}">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->

  <script>
      const handleValueChange = (value, itemId) => {
          console.log("Value changed to:", value, "for item ID:", itemId);

        const cartUrl = `/api/add-to-cart/`;

        const fd = new FormData();
        fd.append('product', itemId);
        fd.append('quantity', value);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
        fetch(cartUrl, {
            method: 'POST',
            body: fd
        }).then(response => response.json()).then(data => {
            Swal.fire({
                // position: "top-end",
                icon: "success",
                title: data.message,
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                location.reload();
            });
        }).catch(error => {
            console.error('Error adding to cart:', error);
            alert('An error occurred while adding to cart. Please try again.');
        });

      };
      const incQantityToClosestIpNo = (currentTarget, itemId) => {
          const inputField = currentTarget.parentElement.querySelector('.input-number');
          const currentValue = parseInt(inputField.value);
          if (currentValue < parseInt(inputField.max)) {
              inputField.value = currentValue + 1;
              handleValueChange(inputField.value, itemId);
          }else {
              console.log("Maximum quantity reached for item ID:", currentTarget.dataset.itemId);
          }
      };
      const decQantityToClosestIpNo = (currentTarget, itemId) => {
        const inputField = currentTarget.parentElement.querySelector('.input-number');
        const currentValue = parseInt(inputField.value);
        if (currentValue > parseInt(inputField.min)) {
            inputField.value = currentValue - 1;
            handleValueChange(inputField.value, itemId);
        }else {
            console.log("Minimum quantity reached for item ID:", currentTarget.dataset.itemId);
        }
      };
  </script>

{% endblock %}