{% extends 'public-panel/base.html' %}

{% block content %}
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{product.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>product Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

  <!--================Single Product Area =================-->
  <div class="product_image_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
            
            <div class="product_img_slide owl-carousel">
                {% for i in product.images.all %}
                <div class="single_product_img">
                    <img src="{{i.image.url}}" alt="#" class="img-fluid">
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-8">
          <div class="single_product_text text-center">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <div class="card_area">
                <div class="product_count_area">
                    <p>Quantity</p>
                    <div class="product_count d-inline-block">
                        <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                        <input class="product_count_item input-number" type="text" value="1" min="0" max="10" id="itemQty">
                        <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                    </div>
                    <p>$ {{product.price}}</p>
                </div>
              <div class="add_to_cart">
                    <button {% if request.user.is_authenticated %} onclick="addToCart('{{product.id}}')" {% else %} disabled {% endif %} class="btn_3">add to cart</button>
                    <button {% if request.user.is_authenticated %} onclick="addToWishList('{{product.id}}')"{% else %} disabled {% endif %}  class="btn_3">
                        <i class="ti-heart"></i> 
                        Add to Wishlist
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->
   <!-- subscribe part here -->
   <section class="subscribe_part section_padding">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="subscribe_part_content">
                      <h2>Get promotions & updates!</h2>
                      <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                      <div class="subscribe_form">
                          <input type="email" placeholder="Enter your mail">
                          <a href="#" class="btn_1">Subscribe</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- subscribe part end -->
  <script>
    
    const addToCart = (productId) => {
        const quantity = document.getElementById('itemQty').value;
        console.log(`Adding product ${productId} to cart with quantity ${quantity}`);
    };

    const addToWishList = (productId) => {
        console.log(`Adding product ${productId} to wishlist`);
        const wishListUrl = `/api/add-to-wishlist/${productId}/add`;

        fetch(wishListUrl).then(response => response.json()).then(data => {
            Swal.fire({
                // position: "top-end",
                icon: "success",
                title: data.message,
                showConfirmButton: false,
                timer: 1500
            });
        }).catch(error => {
            console.error('Error adding to wishlist:', error);
            alert('An error occurred while adding to wishlist. Please try again.');
        });
    };

  </script>
 

{% endblock %}